:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydarkcyan: hsl(179, 100%, 13%);
  --Transparentwhiteparagraphs: hsla(0, 0%, 100%, 0.75);
  --Verylightgraybackgroundheadingsbuttons: hsl(0, 0%, 95%);
  --parrafo: "Lexend Deca", sans-serif;
  --titulo: "Big Shoulders Display", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  background-color: var(--Verylightgraybackgroundheadingsbuttons);
}

@media (min-width: 1440px) {
  body {
    margin: 0 auto;
  }
}

.caja {
  padding: 1rem;
  max-width: 375px;
  
  
  
}

@media (min-width: 1440px) {
  .caja {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 95rem;
    margin-top: 15rem;
    padding: 10rem;
    height: 60rem;
  }
}

.caja2 {
  background-color: var(--Brightorange);
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;

}

@media (min-width: 1440px) {
  .caja2 {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    padding: 3rem;
  }
}

.caja2 p {
  color: var(--Transparentwhiteparagraphs);
  font-family: var(--parrafo);
  font-size: 1.2rem;
  line-height: 2rem;
}

.caja2 button {
  border-radius: 2rem;
  border: none;
  height: 3.5rem;
  width: 11rem;
  color: var(--Brightorange);
  font-family: var(--parrafo);
}

@media (min-width: 1440px) {
  .caja2 button {
    margin-top: 6rem;
  }
}

.caja2 h2 {
  color: var(--Verylightgraybackgroundheadingsbuttons);
  font-family: var(--titulo);
  font-size: 3rem;
}

.contenido {
  background-color: var(--Darkcyan);
  padding: 1rem;
}

@media (min-width: 1440px) {
  .contenido {
    border-radius: 0rem;
    padding: 3rem;
  }
}

.contenido button {
  border-radius: 2rem;
  border: none;
  height: 3.5rem;
  width: 11rem;
  color: var(--Darkcyan);
  font-family: var(--parrafo);
}

@media (min-width: 1440px) {
  .contenido button {
    margin-top: 6rem;
  }
}

.contenido p {
  color: var(--Transparentwhiteparagraphs);
  font-family: var(--parrafo);
  font-size: 1.2rem;
  line-height: 2rem;
}

.contenido h2 {
  color: var(--Verylightgraybackgroundheadingsbuttons);
  font-family: var(--titulo);
  font-size: 3rem;
}

.contenido2 {
  background-color: var(--Verydarkcyan);
  padding: 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

@media (min-width: 1440px) {
  .contenido2 {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding: 3rem;
  }
}

.contenido2 button {
  border-radius: 2rem;
  border: none;
  height: 3.5rem;
  width: 11rem;
  color: var(--Verydarkcyan);
  font-family: var(--parrafo);
}

@media (min-width: 1440px) {
  .contenido2 button {
    margin-top: 8rem;
  }
}

.contenido2 p {
  color: var(--Transparentwhiteparagraphs);
  font-family: var(--parrafo);
  font-size: 1.2rem;
  line-height: 2rem;
}

.contenido2 h2 {
  color: var(--Verylightgraybackgroundheadingsbuttons);
  font-family: var(--titulo);
  font-size: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
